.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styles */

/* Whole Application Level; */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

/* Landing Page */
.landing-col-left {
  padding-top: 2%;
}

.landing-col-right {
  padding-top: 100px;
  text-align: center;
}

.landing-header-strong {
  display: block;
}

.logo-img {
  max-width: 200px;
  max-height: fit-content;
}

.landing-slide {
  height: 200px;
  width: 200px;
}

.tag-line {
  color: blue;
}

.landing-slide-show {
  padding-left: 180px;
  padding-top: 25px;
}

.landing-portal-card {
  text-align: center;
}

.form-gender-select {
  max-width: 300px;
  width: 300px;
}

.story-card {
 color: blue;
 display: space-evenly;
 padding: 3px;
 max-width: 220px;
}

.story-image {
  height: 210px;
  width: 200;
}

.story-card-container {
  padding-top: 25px;
}

.standard-text {
  color: black;
}

.landing-card-right-button {
  padding-left: 50px;
}